In [1]:
import numpy as np
import pandas as pd
import pysubgroup as ps
from mlxtend.frequent_patterns import apriori, association_rules

In [135]:
df_original = pd.read_csv('./Data/tournaments.csv')
df = df_original.copy()

#### Tratando dataframe

In [3]:
df.replace(np.nan, 0, inplace=True)
df.tail()

,id_card,name_card,amount_card,price_card,energy_type_card,type_card,combo_type_id,combo_type_name,id_player,name_player,...,region_tournament,country_tournament,year_tournament,month_tournament,day_tournament,valid_rotation_at_tournament,rotation_name,year_begin,month_begin,day_begin
114286,GRI130a,Rescue Stretcher,2,0.72,0,Trainer,47.0,Zoroark Greninja,1900,Jin Woo Lee,...,AS-OC,Korea,2018,12,22,0,standard_2019,2018,8,28
114287,GRI119,Aqua Patch,2,0.27,0,Trainer,47.0,Zoroark Greninja,1900,Jin Woo Lee,...,AS-OC,Korea,2018,12,22,0,standard_2019,2018,8,28
114288,FLF092,Pal Pad,1,0.68,0,Trainer,47.0,Zoroark Greninja,1900,Jin Woo Lee,...,AS-OC,Korea,2018,12,22,0,standard_2019,2018,8,28
114289,GRI121,Choice Band,2,0.20,0,Trainer,47.0,Zoroark Greninja,1900,Jin Woo Lee,...,AS-OC,Korea,2018,12,22,0,standard_2019,2018,8,28
114290,GRI120,Brooklet Hill,2,0.32,0,Trainer,47.0,Zoroark Greninja,1900,Jin Woo Lee,...,AS-OC,Korea,2018,12,22,0,standard_2019,2018,8,28

#### Tentaremos encontrar subgrupos frequentes de cartas que aparecem em torneios diferentes de batalha de cartas pokemon no ano de 2019

- Definindo todas as regioes do dataset

In [4]:
df = df[df['region_tournament'] != 0]

# eliminando cartas do tipo treinador
df = df[df['type_card'] != 'Trainer']
regions = df['region_tournament'].unique()

regions

array(['SA', 'EU', 'AS-OC', 'JP'], dtype=object)

- Definindo treinadores com suas cartas para cada regiao e realizando apriori para descobrir padroes de cartas utilizadas por jogadores diferentes

In [5]:
# Agrupando cartas de cada jogador no dataset
# Dessa forma, separamos os dados no formato das transações utilizadas no Apriori
def agrupa_jogador_cartas(df):
    dict_jogador_cartas = {}
    for _, row in df.iterrows():
        if row['name_player'] not in dict_jogador_cartas:
            dict_jogador_cartas[row['name_player']] = []
        dict_jogador_cartas[row['name_player']].append(row['name_card'])
    return len(dict_jogador_cartas), dict_jogador_cartas

# Fazendo filtro por região somente no ano de 2019
info_por_regiao = {}
for region in regions:
    print(f"region: {region}")
    df_region = df[(df['region_tournament'] == region) & (df['year_tournament'] == 2019)]
    jogadores = df_region['name_player'].unique()
    cartas = df_region['name_card'].unique()

    quantidade_jogadores, dict_jogador_cartas = agrupa_jogador_cartas(df_region)

    # Cria um dataframe que as colunas sao todas as cartas existentes no dataset
    df_jogadores_cartas = pd.DataFrame(columns=cartas)

    for jogador in jogadores:
        cartas_jogador = dict_jogador_cartas[jogador]
        linha = []
        # Construo matriz de incidencia -> True se o jogador possui a carta, False caso contrario
        for carta in cartas:
            if carta in cartas_jogador:
                linha.append(True)
            else:
                linha.append(False)
        df_jogadores_cartas.loc[len(df_jogadores_cartas)] = linha

    # Apriori

    # Suporte - O quanto a carta aparece no total de cartas usadas
    frequent_itemsets = apriori(df_jogadores_cartas, min_support=0.22, use_colnames=True) # use_colnames -> nome das cartas ao inves de indices
    frequent_itemsets.sort_values(by='support', ascending=False, inplace=True)

    # Regras: Se compro A (antecedente) -> compro B (consequente) com confianca de X%
    rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.4) # confiança das regras geradas -> 40%
    # Lift -> Se a regra é relevante ou não (se é maior que 1, é relevante)
    # Ignoro algumas colunas para facilitar a visualização
    rules = rules.sort_values(by='lift', ascending=False).drop(['antecedent support', 'consequent support', 'leverage', 'conviction', 'zhangs_metric'], axis=1)
    
    info_por_regiao[region] = {'itemsets': frequent_itemsets[:3], 'rules': rules[:3]}

    print(f"Total de jogadores: {quantidade_jogadores}")
    print("Itemsets frequentes")
    print(frequent_itemsets)
    print("Regras")
    print(rules)
    print("\n\n")

region: SA
Total de jogadores: 73
Itemsets frequentes
    support                                    itemsets
0  0.589041                                   (Jirachi)
1  0.493151                                (Dedenne-GX)
2  0.410959              (Mega Lopunny & Jigglypuff-GX)
6  0.342466                       (Jirachi, Dedenne-GX)
3  0.301370               (Arceus & Dialga & Palkia-GX)
7  0.287671  (Dedenne-GX, Mega Lopunny & Jigglypuff-GX)
4  0.246575                                 (Keldeo-GX)
5  0.246575                                 (Cryogonal)
8  0.246575    (Arceus & Dialga & Palkia-GX, Cryogonal)
Regras
                      antecedents                     consequents   support  \
4   (Arceus & Dialga & Palkia-GX)                     (Cryogonal)  0.246575
5                     (Cryogonal)   (Arceus & Dialga & Palkia-GX)  0.246575
3  (Mega Lopunny & Jigglypuff-GX)                    (Dedenne-GX)  0.287671
2                    (Dedenne-GX)  (Mega Lopunny & Jigglypuff-GX)  0.287671
1                    (Dedenne-GX)                       (Jirachi)  0.342466
0                       (Jirachi)                    (Dedenne-GX)  0.342466

   confidence      lift
4    0.818182  3.318182
5    1.000000  3.318182
3    0.700000  1.419444
2    0.583333  1.419444
1    0.694444  1.178941
0    0.581395  1.178941



region: EU
Total de jogadores: 83
Itemsets frequentes
     support                                           itemsets
5   0.650602                                      (Tapu Koko ♢)
0   0.590361                                          (Jirachi)
7   0.590361                                        (Marshadow)
1   0.530120                                           (Zapdos)
18  0.493976                              (Zapdos, Tapu Koko ♢)
..       ...                                                ...
43  0.228916                 (Tapu Koko-GX, Zapdos, Zeraora-GX)
65  0.228916    (Tapu Koko ♢, Tapu Koko-GX, Zapdos, Zeraora-GX)
66  0.228916      (Tapu Koko-GX, Marshadow, Zapdos, Zeraora-GX)
69  0.228916  (Tapu Koko ♢, Marshadow, Pikachu & Zekrom-GX, ...
73  0.228916  (Tapu Koko-GX, Marshadow, Zapdos, Tapu Koko ♢,...

[74 rows x 2 columns]
Regras
                                        antecedents  \
337                     (Tapu Lele-GX, Tapu Koko ♢)
334                         (Marshadow, Zeraora-GX)
341                                    (Zeraora-GX)
330          (Tapu Lele-GX, Marshadow, Tapu Koko ♢)
297                     (Tapu Lele-GX, Tapu Koko ♢)
..                                              ...
171                                    (Zeraora-GX)
167                                       (Jirachi)
399  (Zeraora-GX, Pikachu & Zekrom-GX, Tapu Koko ♢)
362               (Pikachu & Zekrom-GX, Zeraora-GX)
301                                  (Tapu Lele-GX)

                                consequents   support  confidence      lift
337                 (Marshadow, Zeraora-GX)  0.240964    0.952381  3.040293
334             (Tapu Lele-GX, Tapu Koko ♢)  0.240964    0.769231  3.040293
341  (Tapu Lele-GX, Marshadow, Tapu Koko ♢)  0.240964    0.571429  2.371429
330                            (Zeraora-GX)  0.240964    1.000000  2.371429
297                            (Zeraora-GX)  0.253012    1.000000  2.371429
..                                      ...       ...         ...       ...
171                               (Jirachi)  0.289157    0.685714  1.161516
167               (Zeraora-GX, Tapu Koko ♢)  0.289157    0.489796  1.161516
399                             (Marshadow)  0.228916    0.678571  1.149417
362                             (Marshadow)  0.228916    0.678571  1.149417
301                           (Tapu Koko ♢)  0.253012    0.636364  0.978114

[437 rows x 5 columns]



region: AS-OC
Total de jogadores: 110
Itemsets frequentes
     support                                           itemsets
0   0.609091                                          (Jirachi)
5   0.590909                                     (Tapu Lele-GX)
6   0.527273                                        (Marshadow)
2   0.381818                                      (Tapu Koko ♢)
4   0.372727                                            (Absol)
1   0.372727                                           (Zapdos)
3   0.363636                                     (Tapu Koko-GX)
13  0.363636                              (Zapdos, Tapu Koko ♢)
21  0.363636                          (Tapu Lele-GX, Marshadow)
16  0.363636                        (Tapu Koko-GX, Tapu Koko ♢)
14  0.345455                             (Tapu Koko-GX, Zapdos)
28  0.345455                (Tapu Koko-GX, Zapdos, Tapu Koko ♢)
11  0.318182                            (Jirachi, Tapu Lele-GX)
17  0.309091                               (Absol, Tapu Koko ♢)
7   0.309091                                  (Jirachi, Zapdos)
8   0.300000                             (Jirachi, Tapu Koko ♢)
10  0.300000                                   (Jirachi, Absol)
12  0.300000                               (Jirachi, Marshadow)
22  0.300000                     (Jirachi, Zapdos, Tapu Koko ♢)
29  0.290909                       (Absol, Zapdos, Tapu Koko ♢)
19  0.290909                              (Tapu Koko-GX, Absol)
15  0.290909                                    (Zapdos, Absol)
31  0.290909                 (Tapu Koko-GX, Absol, Tapu Koko ♢)
25  0.281818               (Jirachi, Tapu Koko-GX, Tapu Koko ♢)
9   0.281818                            (Jirachi, Tapu Koko-GX)
23  0.281818                    (Jirachi, Tapu Koko-GX, Zapdos)
32  0.281818       (Jirachi, Tapu Koko-GX, Zapdos, Tapu Koko ♢)
30  0.272727                      (Tapu Koko-GX, Zapdos, Absol)
36  0.272727         (Absol, Tapu Koko-GX, Zapdos, Tapu Koko ♢)
33  0.254545              (Jirachi, Absol, Zapdos, Tapu Koko ♢)
24  0.254545                           (Jirachi, Zapdos, Absol)
26  0.254545                      (Jirachi, Absol, Tapu Koko ♢)
27  0.236364                     (Jirachi, Tapu Koko-GX, Absol)
34  0.236364             (Jirachi, Tapu Koko-GX, Zapdos, Absol)
35  0.236364        (Jirachi, Tapu Koko-GX, Absol, Tapu Koko ♢)
37  0.236364  (Tapu Koko-GX, Jirachi, Zapdos, Absol, Tapu Ko...
20  0.227273                                 (Marshadow, Absol)
18  0.227273                           (Marshadow, Tapu Koko ♢)
Regras
                       antecedents                    consequents   support  \
103                (Zapdos, Absol)         (Jirachi, Tapu Koko ♢)  0.254545
102         (Jirachi, Tapu Koko ♢)                (Zapdos, Absol)  0.254545
161  (Tapu Koko-GX, Zapdos, Absol)         (Jirachi, Tapu Koko ♢)  0.236364
174         (Jirachi, Tapu Koko ♢)  (Tapu Koko-GX, Zapdos, Absol)  0.236364
136                (Zapdos, Absol)        (Jirachi, Tapu Koko-GX)  0.236364
..                             ...                            ...       ...
185                  (Tapu Koko ♢)                    (Marshadow)  0.227273
24                       (Jirachi)                    (Marshadow)  0.300000
25                     (Marshadow)                      (Jirachi)  0.300000
14                       (Jirachi)                 (Tapu Lele-GX)  0.318182
15                  (Tapu Lele-GX)                      (Jirachi)  0.318182

     confidence      lift
103    0.875000  2.916667
102    0.848485  2.916667
161    0.866667  2.888889
174    0.787879  2.888889
136    0.812500  2.883065
..          ...       ...
185    0.595238  1.128900
24     0.492537  0.934122
25     0.568966  0.934122
14     0.522388  0.884041
15     0.538462  0.884041

[186 rows x 5 columns]



region: JP
Total de jogadores: 85
Itemsets frequentes
    support                    itemsets
0  0.423529                   (Jirachi)
2  0.423529                (Dedenne-GX)
3  0.411765                 (Marshadow)
5  0.341176              (Tapu Lele-GX)
7  0.282353     (Dedenne-GX, Marshadow)
4  0.282353                     (Absol)
1  0.270588               (Tapu Koko ♢)
8  0.235294  (Dedenne-GX, Tapu Lele-GX)
9  0.235294   (Marshadow, Tapu Lele-GX)
6  0.223529    (Marshadow, Tapu Koko ♢)
Regras
      antecedents     consequents   support  confidence      lift
6     (Marshadow)   (Tapu Koko ♢)  0.223529    0.542857  2.006211
7   (Tapu Koko ♢)     (Marshadow)  0.223529    0.826087  2.006211
4     (Marshadow)  (Tapu Lele-GX)  0.235294    0.571429  1.674877
5  (Tapu Lele-GX)     (Marshadow)  0.235294    0.689655  1.674877
2    (Dedenne-GX)  (Tapu Lele-GX)  0.235294    0.555556  1.628352
3  (Tapu Lele-GX)    (Dedenne-GX)  0.235294    0.689655  1.628352
0    (Dedenne-GX)     (Marshadow)  0.282353    0.666667  1.619048
1     (Marshadow)    (Dedenne-GX)  0.282353    0.685714  1.619048

### ANALISAR --> PQ AS REGRAS SÃO REPETIDAS?
EX: ANTECEDENTE A - CONSEQUENTE B
ANTECEDENTE B - CONSEQUENTE A

TEM COMO RETIRAR ISSO?

- Analisando os resultados mais relevantes de cada região:

In [6]:
for region in regions:
    print(f"Região: {region}")
    print("Itemsets frequentes")
    print(info_por_regiao[region]['itemsets'])
    print("Regras")
    print(info_por_regiao[region]['rules'])
    print("\n\n")

Região: SA
Itemsets frequentes
    support                        itemsets
0  0.589041                       (Jirachi)
1  0.493151                    (Dedenne-GX)
2  0.410959  (Mega Lopunny & Jigglypuff-GX)
Regras
                      antecedents                    consequents   support  \
4   (Arceus & Dialga & Palkia-GX)                    (Cryogonal)  0.246575
5                     (Cryogonal)  (Arceus & Dialga & Palkia-GX)  0.246575
3  (Mega Lopunny & Jigglypuff-GX)                   (Dedenne-GX)  0.287671

   confidence      lift
4    0.818182  3.318182
5    1.000000  3.318182
3    0.700000  1.419444



Região: EU
Itemsets frequentes
    support       itemsets
5  0.650602  (Tapu Koko ♢)
0  0.590361      (Jirachi)
7  0.590361    (Marshadow)
Regras
                     antecedents                             consequents  \
337  (Tapu Lele-GX, Tapu Koko ♢)                 (Marshadow, Zeraora-GX)
334      (Marshadow, Zeraora-GX)             (Tapu Lele-GX, Tapu Koko ♢)
341                 (Zeraora-GX)  (Tapu Lele-GX, Marshadow, Tapu Koko ♢)

      support  confidence      lift
337  0.240964    0.952381  3.040293
334  0.240964    0.769231  3.040293
341  0.240964    0.571429  2.371429



Região: AS-OC
Itemsets frequentes
    support        itemsets
0  0.609091       (Jirachi)
5  0.590909  (Tapu Lele-GX)
6  0.527273     (Marshadow)
Regras
                       antecedents             consequents   support  \
103                (Zapdos, Absol)  (Jirachi, Tapu Koko ♢)  0.254545
102         (Jirachi, Tapu Koko ♢)         (Zapdos, Absol)  0.254545
161  (Tapu Koko-GX, Zapdos, Absol)  (Jirachi, Tapu Koko ♢)  0.236364

     confidence      lift
103    0.875000  2.916667
102    0.848485  2.916667
161    0.866667  2.888889



Região: JP
Itemsets frequentes
    support      itemsets
0  0.423529     (Jirachi)
2  0.423529  (Dedenne-GX)
3  0.411765   (Marshadow)
Regras
     antecedents     consequents   support  confidence      lift
6    (Marshadow)   (Tapu Koko ♢)  0.223529    0.542857  2.006211
7  (Tapu Koko ♢)     (Marshadow)  0.223529    0.826087  2.006211
4    (Marshadow)  (Tapu Lele-GX)  0.235294    0.571429  1.674877

In [9]:
print("Media de preço das cartas em todos os torneios em todos os anos" , df['price_card'].mean())
print("Media de preço das cartas em todos os torneios no ano de 2019" , df[(df['year_tournament'] == 2019)]['price_card'].mean())
print("Preço da carta Jirachi em 2019" , df[(df['year_tournament'] == 2019) & (df['name_card'] == 'Jirachi')]['price_card'].mean())

Media de preço das cartas em todos os torneios em todos os anos 2.674447953922616
Media de preço das cartas em todos os torneios no ano de 2019 4.295818992989164
Preço da carta Jirachi em 2019 6.5

In [10]:
print("Media de quantidade máxima de cartas iguais em todos os torneios em todos os anos" , df['amount_card'].mean())
print("Media de preço das cartas em todos os torneios no ano de 2019" , df[(df['year_tournament'] == 2019)]['amount_card'].mean())
print("Preço da carta Jirachi em 2019" , df[(df['year_tournament'] == 2019) & (df['name_card'] == 'Jirachi')]['amount_card'].mean())

Media de quantidade máxima de cartas iguais em todos os torneios em todos os anos 1.8847600910399926
Media de preço das cartas em todos os torneios no ano de 2019 1.751434034416826
Preço da carta Jirachi em 2019 3.1601941747572817

### SA
Jirachi, Dedenne-GX, Mega Lopunny & Jigglypuff-GX
Regras Arceus & Dialga & Palkia-GX e Cryogonal

### EU
Tapu Koko ♢, Jirachi, Marshdown
Regras envolvendo Tapu Lele-GX, Tapu Koko ♢, Marshdown e Zeraora-GX

### AS-OC
Jirachi, Tapu Lele-GX, Marshdown
Destaque para regras enolvendo Tapu Koko ♢, Jirachi, Zapdos e Absol

### JP
Jirachi, Dedenne-GX, Marshdow (destaque para regras envolvendo essa carta)

Percebe-se que a carta Jirachi foi almplamente utilizadas em torneios de 2019 em diferentes regiões ao redor do mundo. Jirachi é uma carta com um alto custo em comparação a média dos valores nos torneios (média de 2.95 contra custo de 6.5 da carta Jirachi em 2019), porém ao mesmo tempo, pode ser mais utilizada em um mesmo deck (3 vezes em comparação a média de 2.17 naquele ano)

--------------------------------------------------------------

# Analise para combos de cartas

In [11]:
df = df_original.copy()

df = df[(df['year_tournament'] == 2019)]


df.replace(np.nan, 0, inplace=True)
df.tail()

,id_card,name_card,amount_card,price_card,energy_type_card,type_card,combo_type_id,combo_type_name,id_player,name_player,...,region_tournament,country_tournament,year_tournament,month_tournament,day_tournament,valid_rotation_at_tournament,rotation_name,year_begin,month_begin,day_begin
113994,UNB170,Energy Spinner,1,0.13,0,Trainer,84.0,Zapdos,1889,Sumin Lim,...,AS-OC,Korea,2019,2,16,SUM-TEU,standard_2019,2018,8,28
113995,UPR122a,Escape Board,2,0.00,0,Trainer,84.0,Zapdos,1889,Sumin Lim,...,AS-OC,Korea,2019,2,16,SUM-TEU,standard_2019,2018,8,28
113996,GRI121a,Choice Band,2,19.74,0,Trainer,84.0,Zapdos,1889,Sumin Lim,...,AS-OC,Korea,2019,2,16,SUM-TEU,standard_2019,2018,8,28
113997,CES143,Shrine of Punishment,2,0.33,0,Trainer,84.0,Zapdos,1889,Sumin Lim,...,AS-OC,Korea,2019,2,16,SUM-TEU,standard_2019,2018,8,28
113998,LOT191,Thunder Mountain ♢,1,1.07,0,Trainer,84.0,Zapdos,1889,Sumin Lim,...,AS-OC,Korea,2019,2,16,SUM-TEU,standard_2019,2018,8,28

In [12]:
# If 'presence' column doesn't exist, create it for the BinaryTarget
df['presence'] = (df['name_card'] == 'Jirachi').astype(int)

In [13]:
len(df)

11446

In [14]:
# Define the target for subgroup discovery
target = ps.BinaryTarget('presence', 1)

# Define the search space
combo_selectors = [ps.EqualitySelector('combo_type_name', value) for value in df['combo_type_name'].unique()]
ranking_selector = [ps.EqualitySelector('ranking_player_tournament', value) for value in df['ranking_player_tournament'].unique()]
category_selectors = [ps.EqualitySelector('category_tournament', value) for value in df['category_tournament'].unique()]
region_selectors = [ps.EqualitySelector('region_tournament', value) for value in df['region_tournament'].unique()]
search_space = combo_selectors +  ranking_selector + category_selectors + region_selectors

In [15]:
search_space

[combo_type_name=='Reshiram & Charizard Fire Box',
 combo_type_name=='Mewtwo & Mew',
 combo_type_name=='ADP Keldeo',
 combo_type_name=='Blacephalon Naganadel',
 combo_type_name=='Florges Dolls',
 combo_type_name=='Garchomp & Giratina',
 combo_type_name=='Green's ADP',
 combo_type_name=='Blacephalon Pidgeotto',
 combo_type_name=='Pidgeotto Control',
 combo_type_name=='Gardevoir & Sylveon',
 combo_type_name=='Naganadel & Guzzlord',
 combo_type_name=='Charizard & Braixen',
 combo_type_name=='Malamar Giratina',
 combo_type_name=='Quagsire Silvally',
 combo_type_name=='Pikachu & Zekrom',
 combo_type_name=='Mewtwo & Mew Fire Box',
 combo_type_name=='Quagsire Naganadel',
 combo_type_name=='Charizard',
 combo_type_name=='Blacephalon Silvally',
 combo_type_name=='Zoroark Dewgong',
 combo_type_name=='Blacephalon',
 combo_type_name=='Pikachu & Zekrom Zapdos',
 combo_type_name=='Ultra Malamar ',
 combo_type_name=='Zapdos',
 combo_type_name=='Lucario & Melmetal Vileplume',
 combo_type_name=='Spiritomb Stunfisk',
 combo_type_name=='Green's Reshiram & Charizard',
 combo_type_name=='Spiritomb Umbreon',
 combo_type_name=='Regigigas Hoopa',
 combo_type_name=='Zoroark Persian',
 combo_type_name=='Reshiram & Charizard',
 combo_type_name=='Blissey',
 combo_type_name=='Gardevoir Ninetales',
 combo_type_name=='Reshiram & Charizard Arcanine',
 combo_type_name=='Duoblade',
 combo_type_name=='Zoroark',
 combo_type_name=='Zoroark Lucario Slowking',
 combo_type_name=='Shedinja Control',
 combo_type_name=='Zoroark Silvally',
 combo_type_name=='Granbull',
 combo_type_name=='Zoroark Lycanroc',
 combo_type_name=='Zoroark Lycanroc Lucario',
 combo_type_name=='Koko Spread',
 combo_type_name=='Zapdos Jolteon',
 combo_type_name=='Naganadel Buzzwole Stakataka',
 combo_type_name=='Zapdos Lycanroc',
 combo_type_name=='Zapdos Lucario',
 combo_type_name=='Rayquaza Vikavolt',
 combo_type_name=='Buzzwole Weavile',
 combo_type_name=='Celebi & Venusaur',
 combo_type_name=='Psychic Malamar',
 combo_type_name=='Lost March Weavile',
 combo_type_name=='Buzzwole Lycanroc Ninetales',
 combo_type_name=='Passimian Tapu Koko',
 combo_type_name=='Weavile Dark Box',
 combo_type_name=='Keldeo Bronzong Stall',
 combo_type_name=='Blacephalon Volcanion',
 combo_type_name=='Malamar GG',
 combo_type_name=='Green's Blacephalon',
 combo_type_name=='Gengar & Mimikyu',
 combo_type_name=='Rowlet & Alolan Exeggutor',
 combo_type_name=='Mewtwo & Mew Blastoise',
 combo_type_name=='Rampardos',
 combo_type_name=='Aerodactyl Carracosta',
 combo_type_name=='Chandelure',
 combo_type_name=='Beheeyem',
 combo_type_name=='ADP Glaceon',
 combo_type_name=='Lucario & Melmetal',
 combo_type_name=='Garchomp & Giratina Roxie',
 combo_type_name=='Pheromosa & Buzzwole ADP',
 combo_type_name=='Spider Lock',
 combo_type_name=='Zacian Lucario & Melmetal',
 combo_type_name=='Psychic Mewtwo & Mew',
 combo_type_name=='Zacian ADP',
 combo_type_name=='Magcargo',
 combo_type_name=='Blastoise & Piplup',
 combo_type_name=='Keldeo Victini',
 combo_type_name=='Reshiram & Charizard Flareon',
 combo_type_name=='Hoopa Umbreon',
 combo_type_name=='Lycanroc Landorus',
 combo_type_name=='Whimsicott',
 combo_type_name=='Buzzwole & Pheromosa',
 combo_type_name=='Lucario & Melmetal Tag Team',
 combo_type_name=='Vileplume',
 combo_type_name=='Buzzwole & Pheromosa Jolteon',
 combo_type_name=='Hitmon-trio',
 combo_type_name=='Trevenant & Dusknoir',
 combo_type_name=='Spiritomb ADP',
 combo_type_name=='ADP Silvally',
 combo_type_name=='ADP Vileplume',
 combo_type_name=='ADP Tag Team Box',
 combo_type_name=='Gardevoir & Sylveon ADP',
 combo_type_name=='Weezing',
 combo_type_name=='Zoroark Slowking',
 combo_type_name=='Zoroark Lucario',
 combo_type_name=='Tapu Koko Buzzwole',
 combo_type_name=='Zoroark Zygarde',
 combo_type_name=='Lost March',
 ranking_player_tournament==1,
 ranking_player_tournament==2,
 ranking_player_tournament==3,
 ranking_player_tournament==4,
 ranking_player_tournament==5,
 ranking_player_tournament==6,
 ranking_player_tournament==7,
 ranking_player_tournament==8,
 ranking_player_tournament==9,
 ranking_player_tournament==10,
 ranking_player_tournament==11,
 ranking_player_tournament==12,
 ranking_player_tournament==13,
 ranking_player_tournament==14,
 ranking_player_tournament==15,
 ranking_player_tournament==16,
 ranking_player_tournament==17,
 ranking_player_tournament==20,
 ranking_player_tournament==21,
 ranking_player_tournament==22,
 ranking_player_tournament==23,
 ranking_player_tournament==24,
 ranking_player_tournament==25,
 ranking_player_tournament==26,
 ranking_player_tournament==27,
 ranking_player_tournament==28,
 ranking_player_tournament==30,
 ranking_player_tournament==32,
 ranking_player_tournament==34,
 ranking_player_tournament==35,
 ranking_player_tournament==36,
 ranking_player_tournament==37,
 ranking_player_tournament==38,
 ranking_player_tournament==39,
 ranking_player_tournament==40,
 ranking_player_tournament==41,
 ranking_player_tournament==42,
 ranking_player_tournament==43,
 ranking_player_tournament==44,
 ranking_player_tournament==45,
 ranking_player_tournament==48,
 ranking_player_tournament==50,
 ranking_player_tournament==52,
 ranking_player_tournament==53,
 ranking_player_tournament==54,
 ranking_player_tournament==55,
 ranking_player_tournament==57,
 ranking_player_tournament==58,
 ranking_player_tournament==59,
 ranking_player_tournament==60,
 ranking_player_tournament==61,
 ranking_player_tournament==62,
 ranking_player_tournament==63,
 ranking_player_tournament==64,
 ranking_player_tournament==65,
 ranking_player_tournament==67,
 ranking_player_tournament==69,
 ranking_player_tournament==72,
 ranking_player_tournament==73,
 ranking_player_tournament==75,
 ranking_player_tournament==79,
 ranking_player_tournament==80,
 ranking_player_tournament==81,
 ranking_player_tournament==83,
 ranking_player_tournament==85,
 ranking_player_tournament==86,
 ranking_player_tournament==18,
 ranking_player_tournament==19,
 ranking_player_tournament==33,
 ranking_player_tournament==49,
 ranking_player_tournament==68,
 ranking_player_tournament==71,
 ranking_player_tournament==88,
 ranking_player_tournament==91,
 ranking_player_tournament==96,
 ranking_player_tournament==99,
 ranking_player_tournament==108,
 ranking_player_tournament==110,
 ranking_player_tournament==29,
 ranking_player_tournament==46,
 ranking_player_tournament==47,
 ranking_player_tournament==56,
 ranking_player_tournament==66,
 ranking_player_tournament==70,
 ranking_player_tournament==74,
 ranking_player_tournament==76,
 ranking_player_tournament==78,
 ranking_player_tournament==87,
 ranking_player_tournament==31,
 ranking_player_tournament==51,
 ranking_player_tournament==77,
 ranking_player_tournament==82,
 ranking_player_tournament==84,
 ranking_player_tournament==89,
 ranking_player_tournament==90,
 ranking_player_tournament==92,
 ranking_player_tournament==93,
 ranking_player_tournament==94,
 ranking_player_tournament==97,
 ranking_player_tournament==98,
 ranking_player_tournament==102,
 ranking_player_tournament==105,
 ranking_player_tournament==107,
 ranking_player_tournament==116,
 ranking_player_tournament==117,
 ranking_player_tournament==118,
 category_tournament=='international',
 category_tournament=='worlds',
 category_tournament=='others',
 region_tournament=='SA',
 region_tournament==0,
 region_tournament=='EU',
 region_tournament=='AS-OC',
 region_tournament=='JP']

In [16]:

task = ps.SubgroupDiscoveryTask(df, target, search_space, result_set_size=15, depth=5, qf=ps.WRAccQF())

# Run the SD-Map algorithm
result = ps.SimpleDFS().execute(task)

In [17]:
# Display the results
for row in result.to_dataframe().itertuples():
    print(row)

Pandas(Index=0, quality=0.001806979198588307, subgroup=(combo_type_name=='Ultra Malamar '), size_sg=857, size_dataset=11446, positives_sg=40, positives_dataset=258, size_complement=10589, relative_size_sg=0.07487331818976062, relative_size_complement=0.9251266818102394, coverage_sg=0.15503875968992248, coverage_complement=0.8449612403100775, target_share_sg=0.046674445740956826, target_share_complement=0.02058740202096515, target_share_dataset=0.022540625546042286, lift=2.0706810308177976)
Pandas(Index=1, quality=0.0017953465801277201, subgroup=(combo_type_name=='Zapdos'), size_sg=996, size_dataset=11446, positives_sg=43, positives_dataset=258, size_complement=10450, relative_size_sg=0.0870172986196051, relative_size_complement=0.912982701380395, coverage_sg=0.16666666666666666, coverage_complement=0.8333333333333334, target_share_sg=0.04317269076305221, target_share_complement=0.02057416267942584, target_share_dataset=0.022540625546042286, lift=1.9153279785809907)
Pandas(Index=2, quality=0.0012727489059003296, subgroup=(combo_type_name=='Pikachu & Zekrom Zapdos'), size_sg=729, size_dataset=11446, positives_sg=31, positives_dataset=258, size_complement=10717, relative_size_sg=0.06369037218242181, relative_size_complement=0.9363096278175782, coverage_sg=0.12015503875968993, coverage_complement=0.8798449612403101, target_share_sg=0.04252400548696845, target_share_complement=0.02118130073714659, target_share_dataset=0.022540625546042286, lift=1.8865494837358172)
Pandas(Index=3, quality=0.0011851989493760961, subgroup=(category_tournament=='international' and combo_type_name=='Zapdos'), size_sg=596, size_dataset=11446, positives_sg=27, positives_dataset=258, size_complement=10850, relative_size_sg=0.05207059234667133, relative_size_complement=0.9479294076533287, coverage_sg=0.10465116279069768, coverage_complement=0.8953488372093024, target_share_sg=0.04530201342281879, target_share_complement=0.02129032258064516, target_share_dataset=0.022540625546042286, lift=2.0097939753394725)
Pandas(Index=4, quality=0.0010346313432386047, subgroup=(combo_type_name=='Ultra Malamar ' and region_tournament=='AS-OC'), size_sg=495, size_dataset=11446, positives_sg=23, positives_dataset=258, size_complement=10951, relative_size_sg=0.04324654901275555, relative_size_complement=0.9567534509872444, coverage_sg=0.08914728682170543, coverage_complement=0.9108527131782945, target_share_sg=0.046464646464646465, target_share_complement=0.02145922746781116, target_share_dataset=0.022540625546042286, lift=2.0613734241641217)
Pandas(Index=5, quality=0.001032127735065985, subgroup=(category_tournament=='international' and combo_type_name=='Pikachu & Zekrom Zapdos'), size_sg=585, size_dataset=11446, positives_sg=25, positives_dataset=258, size_complement=10861, relative_size_sg=0.05110955792416565, relative_size_complement=0.9488904420758344, coverage_sg=0.09689922480620156, coverage_complement=0.9031007751937985, target_share_sg=0.042735042735042736, target_share_complement=0.021452904889052573, target_share_dataset=0.022540625546042286, lift=1.895912012191082)
Pandas(Index=6, quality=0.000872247927798627, subgroup=(category_tournament=='others' and combo_type_name=='Ultra Malamar '), size_sg=400, size_dataset=11446, positives_sg=19, positives_dataset=258, size_complement=11046, relative_size_sg=0.034946706272933774, relative_size_complement=0.9650532937270663, coverage_sg=0.07364341085271318, coverage_complement=0.9263565891472868, target_share_sg=0.0475, target_share_complement=0.021636791598768784, target_share_dataset=0.022540625546042286, lift=2.1073062015503874)
Pandas(Index=7, quality=0.0008394872989056882, subgroup=(combo_type_name=='Zapdos' and region_tournament=='AS-OC'), size_sg=461, size_dataset=11446, positives_sg=20, positives_dataset=258, size_complement=10985, relative_size_sg=0.04027607897955618, relative_size_complement=0.9597239210204438, coverage_sg=0.07751937984496124, coverage_complement=0.9224806201550387, target_share_sg=0.04338394793926247, target_share_complement=0.0216659080564406, target_share_dataset=0.022540625546042286, lift=1.924700264003094)
Pandas(Index=8, quality=0.0008060855020661029, subgroup=(region_tournament=='AS-OC'), size_sg=2918, size_dataset=11446, positives_sg=75, positives_dataset=258, size_complement=8528, relative_size_sg=0.2549362222610519, relative_size_complement=0.745063777738948, coverage_sg=0.29069767441860467, coverage_complement=0.7093023255813954, target_share_sg=0.02570253598355038, target_share_complement=0.021458724202626643, target_share_dataset=0.022540625546042286, lift=1.1402760731306885)
Pandas(Index=9, quality=0.0007578452470326976, subgroup=(combo_type_name=='Reshiram & Charizard Fire Box'), size_sg=325, size_dataset=11446, positives_sg=16, positives_dataset=258, size_complement=11121, relative_size_sg=0.028394198846758693, relative_size_complement=0.9716058011532414, coverage_sg=0.06201550387596899, coverage_complement=0.937984496124031, target_share_sg=0.04923076923076923, target_share_complement=0.021760633036597428, target_share_dataset=0.022540625546042286, lift=2.1840906380441263)
Pandas(Index=10, quality=0.0007419381755944671, subgroup=(category_tournament=='international' and region_tournament=='AS-OC'), size_sg=1176, size_dataset=11446, positives_sg=35, positives_dataset=258, size_complement=10270, relative_size_sg=0.1027433164424253, relative_size_complement=0.8972566835575747, coverage_sg=0.13565891472868216, coverage_complement=0.8643410852713178, target_share_sg=0.02976190476190476, target_share_complement=0.021713729308666017, target_share_dataset=0.022540625546042286, lift=1.3203672942045035)
Pandas(Index=11, quality=0.0006849810896673678, subgroup=(category_tournament=='international' and combo_type_name=='Ultra Malamar '), size_sg=362, size_dataset=11446, positives_sg=16, positives_dataset=258, size_complement=11084, relative_size_sg=0.03162676917700507, relative_size_complement=0.968373230822995, coverage_sg=0.06201550387596899, coverage_complement=0.937984496124031, target_share_sg=0.04419889502762431, target_share_complement=0.021833273186575245, target_share_dataset=0.022540625546042286, lift=1.9608548545976272)
Pandas(Index=12, quality=0.0006101476307516238, subgroup=(category_tournament=='others' and combo_type_name=='Zapdos'), size_sg=400, size_dataset=11446, positives_sg=16, positives_dataset=258, size_complement=11046, relative_size_sg=0.034946706272933774, relative_size_complement=0.9650532937270663, coverage_sg=0.06201550387596899, coverage_complement=0.937984496124031, target_share_sg=0.04, target_share_complement=0.021908383125113163, target_share_dataset=0.022540625546042286, lift=1.7745736434108528)
Pandas(Index=13, quality=0.0006038580785130911, subgroup=(category_tournament=='international'), size_sg=5372, size_dataset=11446, positives_sg=128, positives_dataset=258, size_complement=6074, relative_size_sg=0.4693342652455006, relative_size_complement=0.5306657347544994, coverage_sg=0.49612403100775193, coverage_complement=0.5038759689922481, target_share_sg=0.023827252419955324, target_share_complement=0.02140270003292723, target_share_dataset=0.022540625546042286, lift=1.0570803534837545)
Pandas(Index=14, quality=0.000599980539026229, subgroup=(region_tournament=='SA'), size_sg=1603, size_dataset=11446, positives_sg=43, positives_dataset=258, size_complement=9843, relative_size_sg=0.1400489253887821, relative_size_complement=0.8599510746112179, coverage_sg=0.16666666666666666, coverage_complement=0.8333333333333334, target_share_sg=0.026824703680598878, target_share_complement=0.021842934064817635, target_share_dataset=0.022540625546042286, lift=1.1900603035974215)

### A ideia é achar subgrupos ligados a carta Jirachi - Mas pela qualidade não deu muito certo

-----------------------------------------------------------------

- Teste top cartas

In [150]:
df = df_original.copy()

df = df[(df['ranking_player_tournament'] != np.nan)]
#df.replace(np.nan, 0, inplace=True)
df.columns

Index(['id_card', 'name_card', 'amount_card', 'price_card', 'energy_type_card',
       'type_card', 'combo_type_id', 'combo_type_name', 'id_player',
       'name_player', 'country_player', 'all_time_score',
       'ranking_player_tournament', 'id_tournament', 'category_tournament',
       'name_tournament', 'region_tournament', 'country_tournament',
       'year_tournament', 'month_tournament', 'day_tournament',
       'valid_rotation_at_tournament', 'rotation_name', 'year_begin',
       'month_begin', 'day_begin'],
      dtype='object')

In [151]:
df.describe

<bound method NDFrame.describe of         id_card         name_card  amount_card  price_card energy_type_card  \
0        SSP272          Archeops            4        0.70        Colorless
1        SIT138           Lugia V            3        6.20        Colorless
2        SIT139       Lugia VSTAR            3        8.71        Colorless
3        LOR143           Snorlax            3        0.93        Colorless
4        SSP250        Lumineon V            2        1.90            Water
...         ...               ...          ...         ...              ...
114286  GRI130a  Rescue Stretcher            2        0.72              NaN
114287   GRI119        Aqua Patch            2        0.27              NaN
114288   FLF092           Pal Pad            1        0.68              NaN
114289   GRI121       Choice Band            2        0.20              NaN
114290   GRI120     Brooklet Hill            2        0.32              NaN

       type_card  combo_type_id   combo_type_name  id_player  \
0        Pokémon          247.0    Lugia Archeops       5101
1        Pokémon          247.0    Lugia Archeops       5101
2        Pokémon          247.0    Lugia Archeops       5101
3        Pokémon          247.0    Lugia Archeops       5101
4        Pokémon          247.0    Lugia Archeops       5101
...          ...            ...               ...        ...
114286   Trainer           47.0  Zoroark Greninja       1900
114287   Trainer           47.0  Zoroark Greninja       1900
114288   Trainer           47.0  Zoroark Greninja       1900
114289   Trainer           47.0  Zoroark Greninja       1900
114290   Trainer           47.0  Zoroark Greninja       1900

             name_player  ... region_tournament  country_tournament  \
0       Alexander Flatos  ...               NaN       United States
1       Alexander Flatos  ...               NaN       United States
2       Alexander Flatos  ...               NaN       United States
3       Alexander Flatos  ...               NaN       United States
4       Alexander Flatos  ...               NaN       United States
...                  ...  ...               ...                 ...
114286       Jin Woo Lee  ...             AS-OC               Korea
114287       Jin Woo Lee  ...             AS-OC               Korea
114288       Jin Woo Lee  ...             AS-OC               Korea
114289       Jin Woo Lee  ...             AS-OC               Korea
114290       Jin Woo Lee  ...             AS-OC               Korea

        year_tournament  month_tournament day_tournament  \
0                  2023                10             14
1                  2023                10             14
2                  2023                10             14
3                  2023                10             14
4                  2023                10             14
...                 ...               ...            ...
114286             2018                12             22
114287             2018                12             22
114288             2018                12             22
114289             2018                12             22
114290             2018                12             22

       valid_rotation_at_tournament  rotation_name year_begin  month_begin  \
0                           BST-OBF  standard_2023       2023            4
1                           BST-OBF  standard_2023       2023            4
2                           BST-OBF  standard_2023       2023            4
3                           BST-OBF  standard_2023       2023            4
4                           BST-OBF  standard_2023       2023            4
...                             ...            ...        ...          ...
114286                          NaN  standard_2019       2018            8
114287                          NaN  standard_2019       2018            8
114288                          NaN  standard_2019       2018            8
114289                          NaN  standard_2019       2018            8
114290                          NaN  standard_2019       2018            8

        day_begin
0              14
1              14
2              14
3              14
4              14
...           ...
114286         28
114287         28
114288         28
114289         28
114290         28

[114291 rows x 26 columns]>

In [152]:
df = df[['name_card', 'amount_card', 'price_card', 'energy_type_card', 'type_card', 'name_player', 'all_time_score', 'category_tournament' ,'ranking_player_tournament', 'combo_type_name', 'region_tournament', 'valid_rotation_at_tournament']]

In [153]:
df = df.dropna(subset=['name_card'
,'energy_type_card'
,'name_card'
,'combo_type_name'
,'category_tournament'
,'region_tournament'
,'all_time_score'
,'valid_rotation_at_tournament'])

df.describe

<bound method NDFrame.describe of            name_card  amount_card  price_card energy_type_card type_card  \
7462      Charmander            4        4.15             Fire   Pokémon
7463      Charmeleon            1        0.08             Fire   Pokémon
7464    Charizard ex            3       19.82         Darkness   Pokémon
7465          Pidgey            2        0.09        Colorless   Pokémon
7466      Pidgeot ex            2        6.51        Colorless   Pokémon
...              ...          ...         ...              ...       ...
113978   Tapu Koko ♢            1        0.91        Lightning   Pokémon
113979         Eevee            1        8.44        Colorless   Pokémon
113980    Jolteon-GX            1        3.11               GX   Pokémon
113981         Absol            1        0.99         Darkness   Pokémon
113982     Marshadow            1        1.02          Psychic   Pokémon

            name_player  all_time_score category_tournament  \
7462    William Azevedo             299            regional
7463    William Azevedo             299            regional
7464    William Azevedo             299            regional
7465    William Azevedo             299            regional
7466    William Azevedo             299            regional
...                 ...             ...                 ...
113978        Sumin Lim              16              others
113979        Sumin Lim              16              others
113980        Sumin Lim              16              others
113981        Sumin Lim              16              others
113982        Sumin Lim              16              others

        ranking_player_tournament combo_type_name region_tournament  \
7462                            1       Charizard                SA
7463                            1       Charizard                SA
7464                            1       Charizard                SA
7465                            1       Charizard                SA
7466                            1       Charizard                SA
...                           ...             ...               ...
113978                         16          Zapdos             AS-OC
113979                         16          Zapdos             AS-OC
113980                         16          Zapdos             AS-OC
113981                         16          Zapdos             AS-OC
113982                         16          Zapdos             AS-OC

       valid_rotation_at_tournament
7462                        BST-OBF
7463                        BST-OBF
7464                        BST-OBF
7465                        BST-OBF
7466                        BST-OBF
...                             ...
113978                      SUM-TEU
113979                      SUM-TEU
113980                      SUM-TEU
113981                      SUM-TEU
113982                      SUM-TEU

[17340 rows x 12 columns]>

In [154]:
df['top_position'] = (df['ranking_player_tournament'] <= 15).astype(int)

# Define the target for subgroup discovery
target = ps.BinaryTarget('top_position', 1)

# Define selectors for relevant features

name_selectors = [ps.EqualitySelector('name_card', value) for value in df['name_card'].unique()]
energy_selectors = [ps.EqualitySelector('energy_type_card', value) for value in df['energy_type_card'].unique()]
card_name_selector = [ps.EqualitySelector('name_card', value) for value in df['name_card'].unique()]
combo_type_selector = [ps.EqualitySelector('combo_type_name', value) for value in df['combo_type_name'].unique()]
category_selector = [ps.EqualitySelector('category_tournament', value) for value in df['category_tournament'].unique()]
region_selector = [ps.EqualitySelector('region_tournament', value) for value in df['region_tournament'].unique()]
all_score_selector = [ps.EqualitySelector('all_time_score', value) for value in df['all_time_score'].unique()]
rotation_selector = [ps.EqualitySelector('valid_rotation_at_tournament', value) for value in df['valid_rotation_at_tournament'].unique()]

# Combine all selectors to form the search space
search_space =  energy_selectors + name_selectors +  card_name_selector + combo_type_selector + category_selector + region_selector + all_score_selector + rotation_selector

#search_space = ps.create_selectors(df, ignore=['top_position'])

# Create the Subgroup Discovery Task
task = ps.SubgroupDiscoveryTask(
    df, 
    target, 
    search_space, 
    result_set_size=10, 
    depth=5, 
    qf=ps.WRAccQF()  # Quality function to evaluate subgroups
)

# Run the SD-Map algorithm
result = ps.SimpleDFS().execute(task)

df_result = result.to_dataframe()

df_result

,quality,subgroup,size_sg,size_dataset,positives_sg,positives_dataset,size_complement,relative_size_sg,relative_size_complement,coverage_sg,coverage_complement,target_share_sg,target_share_complement,target_share_dataset,lift
0,0.045982,category_tournament=='others',3937,17340,1765,4262,13403,0.227047,0.772953,0.414125,0.585875,0.448311,0.186302,0.24579,1.823958
1,0.036366,region_tournament=='AS-OC',3407,17340,1468,4262,13933,0.196482,0.803518,0.344439,0.655561,0.430878,0.200531,0.24579,1.753031
2,0.026384,category_tournament=='others' AND region_tourn...,889,17340,676,4262,16451,0.051269,0.948731,0.158611,0.841389,0.760405,0.217981,0.24579,3.093717
3,0.019138,category_tournament=='others' AND region_tourn...,440,17340,440,4262,16900,0.025375,0.974625,0.103238,0.896762,1.000000,0.226154,0.24579,4.068512
4,0.012103,region_tournament=='AS-OC' AND valid_rotation_...,1335,17340,538,4262,16005,0.076990,0.923010,0.126232,0.873768,0.402996,0.232677,0.24579,1.639595
5,0.011178,category_tournament=='others' AND valid_rotati...,257,17340,257,4262,17083,0.014821,0.985179,0.060300,0.939700,1.000000,0.234444,0.24579,4.068512
6,0.011067,category_tournament=='others' AND valid_rotati...,749,17340,376,4262,16591,0.043195,0.956805,0.088221,0.911779,0.502003,0.234223,0.24579,2.042404
7,0.009619,region_tournament=='SA',4346,17340,1235,4262,12994,0.250634,0.749366,0.289770,0.710230,0.284169,0.232954,0.24579,1.156147
8,0.009587,category_tournament=='others' AND energy_type_...,768,17340,355,4262,16572,0.044291,0.955709,0.083294,0.916706,0.462240,0.235759,0.24579,1.880627
9,0.008743,category_tournament=='others' AND region_tourn...,201,17340,201,4262,17139,0.011592,0.988408,0.047161,0.952839,1.000000,0.236945,0.24579,4.068512

- Como possível ver, muita redundancia nos subgrupos do beam search

In [155]:
# Display the results
for row in result.to_dataframe().itertuples():
    print(row.subgroup)

category_tournament=='others'
region_tournament=='AS-OC'
category_tournament=='others' AND region_tournament=='AS-OC'
category_tournament=='others' AND region_tournament=='SA'
region_tournament=='AS-OC' AND valid_rotation_at_tournament=='SSH-SIT'
category_tournament=='others' AND valid_rotation_at_tournament=='UPR-CEC'
category_tournament=='others' AND valid_rotation_at_tournament=='BST-SVI'
region_tournament=='SA'
category_tournament=='others' AND energy_type_card=='Psychic'
category_tournament=='others' AND region_tournament=='SA' AND valid_rotation_at_tournament=='UPR-CEC'

# PRECISA ANALISAR RESULTADO

Tentando rodar com DFS pra ver se aumenta confiança

In [13]:
df['top_position'] = (df['ranking_player_tournament'] <= 3).astype(int)

# Define the target for subgroup discovery
target = ps.BinaryTarget('top_position', 1)

# Define selectors for relevant features
namep_selectors = [ps.EqualitySelector('name_player', value) for value in df['name_player'].unique()]
energy_selectors = [ps.EqualitySelector('energy_type_card', value) for value in df['energy_type_card'].unique()]
type_selectors = [ps.EqualitySelector('type_card', value) for value in df['type_card'].unique()]
name_selectors = [ps.EqualitySelector('name_card', value) for value in df['name_card'].unique()]

# Combine all selectors to form the search space
search_space = namep_selectors + energy_selectors + name_selectors + type_selectors

search_space = ps.create_selectors(df, ignore=['top_position'])

# Create the Subgroup Discovery Task
task = ps.SubgroupDiscoveryTask(
    df, 
    target, 
    search_space, 
    result_set_size=10, 
    depth=6, 
    qf=ps.WRAccQF()  # Quality function to evaluate subgroups
)

# Run the SD-Map algorithm
result = ps.SimpleDFS().execute(task)

df_result = result.to_dataframe()

df_result

# Display the results
#for row in result.to_dataframe().itertuples():
    #print(row.subgroup)

,quality,subgroup,size_sg,size_dataset,positives_sg,positives_dataset,size_complement,relative_size_sg,relative_size_complement,coverage_sg,coverage_complement,target_share_sg,target_share_complement,target_share_dataset,lift
0,0.003470,energy_type_card=='GX',3140,42447,376,3092,39307,0.073975,0.926025,0.121604,0.878396,0.119745,0.069097,0.072844,1.643863
1,0.003470,energy_type_card=='GX' AND type_card=='Pokémon',3140,42447,376,3092,39307,0.073975,0.926025,0.121604,0.878396,0.119745,0.069097,0.072844,1.643863
2,0.002838,energy_type_card=='EX',927,42447,188,3092,41520,0.021839,0.978161,0.060802,0.939198,0.202805,0.069942,0.072844,2.784105
3,0.002838,energy_type_card=='EX' AND type_card=='Pokémon',927,42447,188,3092,41520,0.021839,0.978161,0.060802,0.939198,0.202805,0.069942,0.072844,2.784105
4,0.001647,name_player=='Tord Reklev',262,42447,89,3092,42185,0.006172,0.993828,0.028784,0.971216,0.339695,0.071186,0.072844,4.663331
5,0.001647,name_player=='Tord Reklev' AND type_card=='Pok...,262,42447,89,3092,42185,0.006172,0.993828,0.028784,0.971216,0.339695,0.071186,0.072844,4.663331
6,0.001260,name_player=='Stéphane Ivanoff',158,42447,65,3092,42289,0.003722,0.996278,0.021022,0.978978,0.411392,0.071579,0.072844,5.647598
7,0.001260,name_player=='Stéphane Ivanoff' AND type_card=...,158,42447,65,3092,42289,0.003722,0.996278,0.021022,0.978978,0.411392,0.071579,0.072844,5.647598
8,0.000782,name_player=='Regan Retzloff',107,42447,41,3092,42340,0.002521,0.997479,0.013260,0.986740,0.383178,0.072060,0.072844,5.260265
9,0.000782,name_player=='Regan Retzloff' AND type_card=='...,107,42447,41,3092,42340,0.002521,0.997479,0.013260,0.986740,0.383178,0.072060,0.072844,5.260265

### Teste pra encontrar subgrupos de jogadores que melhoraram a pontuação no mesmo ano

In [83]:
df = df_original.copy()

years = df['year_tournament'].unique()

years

array([2023, 2022, 2018, 2016, 2015, 2014, 2013, 2020, 2019, 2017, 2012,
       2011, 2021])

In [72]:
for y in years:

    print(y, ': ', df[df['year_tournament'] == y].shape[0])

2023 :  70158
2022 :  14660
2018 :  6718
2016 :  1941
2015 :  1606
2014 :  960
2013 :  498
2020 :  2766
2019 :  11446
2017 :  2641
2012 :  115
2011 :  175
2021 :  607

In [99]:
# Create a dictionary of scores for 2022
scores_2022 = df[df['year_tournament'] == 2022].set_index('name_player')['all_time_score'].to_dict()

# Define a function to determine if a player's score improved
def has_improved(row):
    if row['year_tournament'] == 2023:
        previous_score = scores_2022.get(row['name_player'])
        if previous_score is not None:
            return row['all_time_score'] < previous_score
    return False

# Apply the function to create the new column
df['improved_2022_2023'] = df.apply(has_improved, axis=1)

df[df['improved_2022_2023'] == True][['name_player', 'year_tournament', 'all_time_score']]

         name_player  year_tournament  all_time_score
68172  Owyn Kamerman             2022             228
68173  Owyn Kamerman             2022             228
68174  Owyn Kamerman             2022             228
68175  Owyn Kamerman             2022             228
68176  Owyn Kamerman             2022             228
68177  Owyn Kamerman             2022             228
68178  Owyn Kamerman             2022             228
68179  Owyn Kamerman             2022             228
68180  Owyn Kamerman             2022             228
68181  Owyn Kamerman             2022             228
68182  Owyn Kamerman             2022             228
68183  Owyn Kamerman             2022             228
68184  Owyn Kamerman             2022             228
68185  Owyn Kamerman             2022             228
68186  Owyn Kamerman             2022             228
68187  Owyn Kamerman             2022             228
68188  Owyn Kamerman             2022             228
68189  Owyn Kamerman             2022             228
68190  Owyn Kamerman             2022             228
68191  Owyn Kamerman             2022             228
68192  Owyn Kamerman             2022             228
68193  Owyn Kamerman             2022             228
89213  Owyn Kamerman             2022             228
89214  Owyn Kamerman             2022             228
89215  Owyn Kamerman             2022             228
89216  Owyn Kamerman             2022             228
89217  Owyn Kamerman             2022             228
89218  Owyn Kamerman             2022             228
89219  Owyn Kamerman             2022             228
89220  Owyn Kamerman             2022             228
89221  Owyn Kamerman             2022             228
89222  Owyn Kamerman             2022             228
89223  Owyn Kamerman             2022             228
89224  Owyn Kamerman             2022             228
89225  Owyn Kamerman             2022             228
89226  Owyn Kamerman             2022             228
89227  Owyn Kamerman             2022             228
89228  Owyn Kamerman             2022             228
89229  Owyn Kamerman             2022             228
89230  Owyn Kamerman             2022             228
89231  Owyn Kamerman             2022             228
89232  Owyn Kamerman             2022             228
89233  Owyn Kamerman             2022             228
89234  Owyn Kamerman             2022             228
89235  Owyn Kamerman             2022             228

In [67]:
# see the unique names of players that improved their score
df[df['improved_2022_2023'] == True]['name_player'].unique()

array(['Owyn Kamerman', 'Fabien Pujol', 'Alberto Conti'], dtype=object)

In [90]:

# Define the target for subgroup discovery
target = ps.BinaryTarget('improved_2022_2023', True)

search_space = ps.create_selectors(df, ignore=['improved_2022_2023'])

# create one selector for card_name, combo_type_name, category_tournament, region_tournament and all_time_score
card_name_selector = [ps.EqualitySelector('name_card', value) for value in df['name_card'].unique()]
combo_type_selector = [ps.EqualitySelector('combo_type_name', value) for value in df['combo_type_name'].unique()]
category_selector = [ps.EqualitySelector('category_tournament', value) for value in df['category_tournament'].unique()]
region_selector = [ps.EqualitySelector('region_tournament', value) for value in df['region_tournament'].unique()]
all_score_selector = [ps.EqualitySelector('all_time_score', value) for value in df['all_time_score'].unique()]
rotation_selector = [ps.EqualitySelector('valid_rotation_at_tournament', value) for value in df['valid_rotation_at_tournament'].unique()]


# Combine all selectors to form the search space
search_space = card_name_selector + combo_type_selector + category_selector + region_selector + all_score_selector + rotation_selector

# Create the Subgroup Discovery Task
task = ps.SubgroupDiscoveryTask(
    df, 
    target, 
    search_space, 
    result_set_size=7, 
    depth=4, 
    qf=ps.WRAccQF()  # Quality function to evaluate subgroups
)

# Run the SD-Map algorithm
result = ps.SimpleDFS().execute(task)

df_result = result.to_dataframe()

df_result

,quality,subgroup,size_sg,size_dataset,positives_sg,positives_dataset,size_complement,relative_size_sg,relative_size_complement,coverage_sg,coverage_complement,target_share_sg,target_share_complement,target_share_dataset,lift
0,0.000861,all_time_score==310,305,114291,99,218,113986,0.002669,0.997331,0.454128,0.545872,0.324590,0.001044,0.001907,170.173094
1,0.000853,all_time_score==228,269,114291,98,218,114022,0.002354,0.997646,0.449541,0.550459,0.364312,0.001052,0.001907,190.998227
2,0.000715,category_tournament=='regional' AND region_tou...,6469,114291,94,218,107822,0.056601,0.943399,0.431193,0.568807,0.014531,0.001150,0.001907,7.618092
3,0.000533,category_tournament=='regional' AND region_tou...,5310,114291,71,218,108981,0.046460,0.953540,0.325688,0.674312,0.013371,0.001349,0.001907,7.010022
4,0.000505,valid_rotation_at_tournament=='BST-PAL',8564,114291,74,218,105727,0.074932,0.925068,0.339450,0.660550,0.008641,0.001362,0.001907,4.530129
5,0.000504,region_tournament=='EU' AND valid_rotation_at_...,7012,114291,71,218,107279,0.061352,0.938648,0.325688,0.674312,0.010125,0.001370,0.001907,5.308502
6,0.000437,all_time_score==310 AND category_tournament=='...,50,114291,50,218,114241,0.000437,0.999563,0.229358,0.770642,1.000000,0.001471,0.001907,524.270642

In [88]:
# Display the results
for row in result.to_dataframe().itertuples():
    print(row.subgroup)

category_tournament=='regional' AND region_tournament=='EU'
region_tournament=='EU'
category_tournament=='worlds' AND region_tournament=='JP'
combo_type_name=='Mew Genesect'
category_tournament=='worlds'
region_tournament=='JP'
combo_type_name=='Palkia Gardevoir' AND region_tournament=='JP'

## Resultado ta muito ruim e não retornou nada de útil