In [3]:
import pandas as pd
import pysubgroup as ps

In [6]:
df = pd.read_csv('./Data/tournaments.csv')

In [8]:
df.tail()

,id_card,name_card,amount_card,price_card,energy_type_card,type_card,combo_type_id,combo_type_name,id_player,name_player,...,region_tournament,country_tournament,year_tournament,month_tournament,day_tournament,valid_rotation_at_tournament,rotation_name,year_begin,month_begin,day_begin
114286,GRI130a,Rescue Stretcher,2,0.72,NaN,Trainer,47.0,Zoroark Greninja,1900,Jin Woo Lee,...,AS-OC,Korea,2018,12,22,NaN,standard_2019,2018,8,28
114287,GRI119,Aqua Patch,2,0.27,NaN,Trainer,47.0,Zoroark Greninja,1900,Jin Woo Lee,...,AS-OC,Korea,2018,12,22,NaN,standard_2019,2018,8,28
114288,FLF092,Pal Pad,1,0.68,NaN,Trainer,47.0,Zoroark Greninja,1900,Jin Woo Lee,...,AS-OC,Korea,2018,12,22,NaN,standard_2019,2018,8,28
114289,GRI121,Choice Band,2,0.20,NaN,Trainer,47.0,Zoroark Greninja,1900,Jin Woo Lee,...,AS-OC,Korea,2018,12,22,NaN,standard_2019,2018,8,28
114290,GRI120,Brooklet Hill,2,0.32,NaN,Trainer,47.0,Zoroark Greninja,1900,Jin Woo Lee,...,AS-OC,Korea,2018,12,22,NaN,standard_2019,2018,8,28

In [11]:
target = 'combo_type_name'

In [17]:
# how to remove nan values in one column
df = df.dropna(subset=[target])

TypeError: unhashable type: 'BinaryTarget'

In [25]:
features = ['id_card']

print(df.head())

  id_card    name_card  amount_card  price_card energy_type_card type_card  \
0  SSP272     Archeops            4        0.70        Colorless   PokÃ©mon
1  SIT138      Lugia V            3        6.20        Colorless   PokÃ©mon
2  SIT139  Lugia VSTAR            3        8.71        Colorless   PokÃ©mon
3  LOR143      Snorlax            3        0.93        Colorless   PokÃ©mon
4  SSP250   Lumineon V            2        1.90            Water   PokÃ©mon

   combo_type_id combo_type_name  id_player       name_player  ...  \
0          247.0  Lugia Archeops       5101  Alexander Flatos  ...
1          247.0  Lugia Archeops       5101  Alexander Flatos  ...
2          247.0  Lugia Archeops       5101  Alexander Flatos  ...
3          247.0  Lugia Archeops       5101  Alexander Flatos  ...
4          247.0  Lugia Archeops       5101  Alexander Flatos  ...

  region_tournament  country_tournament  year_tournament  month_tournament  \
0               NaN       United States             2023                10
1               NaN       United States             2023                10
2               NaN       United States             2023                10
3               NaN       United States             2023                10
4               NaN       United States             2023                10

  day_tournament valid_rotation_at_tournament  rotation_name year_begin  \
0             14                      BST-OBF  standard_2023       2023
1             14                      BST-OBF  standard_2023       2023
2             14                      BST-OBF  standard_2023       2023
3             14                      BST-OBF  standard_2023       2023
4             14                      BST-OBF  standard_2023       2023

   month_begin  day_begin
0            4         14
1            4         14
2            4         14
3            4         14
4            4         14

[5 rows x 26 columns]

In [32]:

target = ps.NominalTarget(target) 

searchspace = ps.create_selectors(df, ignore=['combo_type_name'])
task = ps.SubgroupDiscoveryTask (
    df,
    target,
    searchspace,
    result_set_size=5,
    depth=3,
    qf=ps.WRAccQF())
result = ps.DFS().execute(task)

print(result.to_dataframe())

AttributeError: module 'pysubgroup' has no attribute 'NominalTarget'

In [23]:
import pysubgroup as ps

# Load the example dataset
from pysubgroup.datasets import get_titanic_data
data = get_titanic_data()

print(type(data))

raise

target = ps.BinaryTarget ('Survived', True)
searchspace = ps.create_selectors(data, ignore=['Survived'])
task = ps.SubgroupDiscoveryTask (
    data,
    target,
    searchspace,
    result_set_size=5,
    depth=2,
    qf=ps.WRAccQF())
result = ps.DFS().execute(task)

print(result.to_dataframe())

<class 'pandas.core.frame.DataFrame'>

RuntimeError: No active exception to reraise